includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  paths:
    - src
  autoload_files:
    - %currentWorkingDirectory%/src/functions.php
  ignoreErrors:
    # Allow dynamic WP globals in some places
    - '#Attempt to read property#'
