parameters:
	ignoreErrors:
		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:add_rewrite_rules\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:enqueue_block_editor_assets\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:flush_rewrite_rules\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:get_post_token_meta\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:get_requested_ttl_hours\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:maybe_flush_rewrite_rules\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:register_meta_fields\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Method PreviewShare\\Admin\\Actions\:\:register_rest_routes\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Admin/Actions.php

		-
			message: '#^Property PreviewShare\\Container\:\:\$services type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Container.php

		-
			message: '#^Call to new PreviewShare\\Admin\\Filters\(\) on a separate line has no effect\.$#'
			identifier: new.resultUnused
			count: 1
			path: src/Plugin.php

		-
			message: '#^Call to new PreviewShare\\Includes\\Actions\(\) on a separate line has no effect\.$#'
			identifier: new.resultUnused
			count: 1
			path: src/Plugin.php

		-
			message: '#^Call to new PreviewShare\\Includes\\Filters\(\) on a separate line has no effect\.$#'
			identifier: new.resultUnused
			count: 1
			path: src/Plugin.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:list_tokens\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:permission_generate\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:permission_revoke\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:revoke\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:revoke\(\) should return WP_REST_Response but returns WP_Error\.$#'
			identifier: return.type
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:revoke_by_id\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Method PreviewShare\\REST\\PreviewController\:\:update_settings\(\) has parameter \$request with generic class WP_REST_Request but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/REST/PreviewController.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/REST/PreviewController.php
